# Feature engineering

## Open-rate
open_rate = “What % of potential store-days were actually open this week?”

### 1. load both datasets and peek

In [2]:
import pandas as pd
weekly_sales= pd.read_csv("../data/processed/weekly_sales_v1.csv")
daily_sales_kaggle= pd.read_csv("../data/raw/train.csv")
weekly_sales.head()

/var/folders/jn/dc5313mj0qs72qr08qqw3w3r0000gn/T/ipykernel_35866/1107802266.py:3: DtypeWarning: Columns (7) have mixed types. Specify dtype option on import or set low_memory=False.
  daily_sales_kaggle= pd.read_csv("../data/raw/train.csv")

,Date,Sales,Promo,Year,Month,Week_num,trend,StateHoliday,SchoolHoliday,Digital_spend,CPM,Digital_impressions,CTR,Digital_clicks,LandingRate,Product_page_views,TV_spend,OOH_spend
0,2013-01-06,26129335,0.000000,2013,1,1,1,1,0.740103,71476.013153,6.108456,1.170116e+07,0.009486,111002.906731,0.496163,55075.497241,0.0,0.0
1,2013-01-13,49275222,0.831102,2013,1,2,2,0,0.083471,78186.218005,6.657182,1.174464e+07,0.012347,145011.371049,0.504316,73131.526628,0.0,0.0
2,2013-01-20,34377765,0.000000,2013,1,3,3,0,0.000000,81560.325505,5.848056,1.394657e+07,0.007442,103783.699864,0.411973,42756.078058,0.0,0.0
3,2013-01-27,46040169,0.830758,2013,1,4,4,0,0.000000,114601.069498,5.604729,2.044721e+07,0.009471,193648.184854,0.449691,87081.888730,0.0,0.0
4,2013-02-03,38466029,0.000000,2013,2,5,5,0,0.019199,70428.442099,5.811603,1.211859e+07,0.010723,129948.869713,0.465507,60492.137175,0.0,0.0

In [3]:
daily_sales_kaggle.head()

,Store,DayOfWeek,Date,Sales,Customers,Open,Promo,StateHoliday,SchoolHoliday
0,1,5,2015-07-31,5263,555,1,1,0,1
1,2,5,2015-07-31,6064,625,1,1,0,1
2,3,5,2015-07-31,8314,821,1,1,0,1
3,4,5,2015-07-31,13995,1498,1,1,0,1
4,5,5,2015-07-31,4822,559,1,1,0,1

In [4]:
print(f"Weekly sales columns: {weekly_sales.columns}")
print(weekly_sales.dtypes)
print(f"daily sales columns: {daily_sales_kaggle.columns}")
print(daily_sales_kaggle.dtypes)

Weekly sales columns: Index(['Date', 'Sales', 'Promo', 'Year', 'Month', 'Week_num', 'trend',
       'StateHoliday', 'SchoolHoliday', 'Digital_spend', 'CPM',
       'Digital_impressions', 'CTR', 'Digital_clicks', 'LandingRate',
       'Product_page_views', 'TV_spend', 'OOH_spend'],
      dtype='object')
Date                    object
Sales                    int64
Promo                  float64
Year                     int64
Month                    int64
Week_num                 int64
trend                    int64
StateHoliday             int64
SchoolHoliday          float64
Digital_spend          float64
CPM                    float64
Digital_impressions    float64
CTR                    float64
Digital_clicks         float64
LandingRate            float64
Product_page_views     float64
TV_spend               float64
OOH_spend              float64
dtype: object
daily sales columns: Index(['Store', 'DayOfWeek', 'Date', 'Sales', 'Customers', 'Open', 'Promo',
       'StateHoliday', 'SchoolHoliday'],
      dtype='object')
Store             int64
DayOfWeek         int64
Date             object
Sales             int64
Customers         int64
Open              int64
Promo             int64
StateHoliday     object
SchoolHoliday     int64
dtype: object

In [ ]:
# convert to datetime
weekly_sales["Date"]= pd.to_datetime(weekly_sales["Date"])